
    .background-image {
        background-image: url("{% static 'Media/SENDIO2.jpg' %}");
        background-size: cover; /* Asegura que la imagen cubra todo el espacio */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        height: 100vh; /* Ocupa toda la altura del viewport */
        width: 100%; /* Ocupa todo el ancho */
    }
