/* static/cliente/css/estilos.css */
.table th {
    white-space: nowrap;
}

.badge {
    font-weight: 500;
}

.modal-header {
    background-color: #f8f9fa;
}

.table td {
    vertical-align: middle;
}

.messages {
    position: fixed; /* Fija los mensajes en la pantalla */
    top: 10px; /* Asegura que aparezcan cerca del borde superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar correctamente */
    z-index: 1050; /* Asegura que estén encima de otros elementos */
    width: 90%; /* Opcional: Ajusta el ancho para dispositivos pequeños */
    max-width: 500px; /* Limita el ancho en pantallas más grandes */
    text-align: center; /* Centra el texto */
}

.messages .alert {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.messages .alert.fade.show {
    transform: translateY(0);
    opacity: 1;
}

.messages .alert.fade {
    transform: translateY(-10px);
    opacity: 0;
}